*{
    background-color: lightblue;
}

header {
    background-color: lightblue;
}

header>h1 {
   text-align: center;
   background-color: lightblue;
   margin: auto;
}

header>h2 {
    text-align: center;
    background-color: lightblue;
    margin: auto;
    font-size: 60px;
}

div#About-me>h3 {
    text-align: center;
    font-size: 30px;
    border-style: groove;
     
}

div#About-me>p {
    text-align: center;
    font-size: 30px;
    margin: auto;
    border-style: double;
    }






