*{
    background-color: lightblue;
}

header {
    background-color: lightblue;
}

div.left {
   text-align: center;
   margin: auto;
}

div.right {
    text-align: right;
}

div#About-me>h3 {
    text-align: center;
    font-size: 30px;
    border-style: groove;
    border-radius: 20px;
    
}

div#About-me>p {
    text-align: center;
    font-size: 30px;
    margin: auto;
    border-style: double;
    border-radius: 20px;
    background-color: lavender;
    }







